<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assetsDash/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assetsDash/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assetsDash/css/dashboard.css">
    {{!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="assetsManage/js/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> --}}
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: linear-gradient(47deg, rgba(32,80,114,1) 0%, rgba(50,157,156,1) 100%);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: rgb(255,255,255);">{{name}}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar"></ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
                <div class="d-flex flex-column align-items-xl-center" id="sidebarOptions"><span id="viewOpen" class="bold" style="color: rgb(255,255,255);margin-bottom: 15px; cursor:pointer;">VIEW</span>
                    <div id="viewLinks" class="hidden"><span class="option" style="color: rgb(255,255,255);margin-bottom: 15px;cursor: pointer;" onclick="window.location.href = '/docu/viewDocs'">View all documents</span>
                        <span class="option" style="color: rgb(255,255,255);margin-bottom: 15px;  cursor:pointer"onclick="window.location.href = '/manageOfficers'">View all officers</span>
                        <span class="option" style="color: rgb(255,255,255);margin-bottom: 15px;cursor: pointer;" onclick="window.location.href = '/org/viewOrgs'">View all organizations</span></div>
                    <span
                        id="encodeOpen" class="bold" style="color: rgb(255,255,255);margin-bottom: 15px; cursor:pointer;">ENCODE</span>
                        <div id="encodeLinks" class="hidden"><span class="option" style="color: rgb(255,255,255);margin-bottom: 15px;  cursor:pointer" onclick="window.location.href = '/docu/encode'">Encode PREACTS</span><span class="option" style="color: rgb(255,255,255);margin-bottom: 30px;  cursor:pointer" onclick="window.location.href = '/docu/encodePost'">Encode POSTACTS</span></div>
                        <span
                            id="manageOpen" class="bold" style="color: rgb(255,255,255);margin-bottom: 15px; cursor:pointer;">MANAGE</span>
                            <div id="manageLinks" class="hidden"><span class="option" style="color: rgb(255,255,255);margin-bottom: 15px;  cursor:pointer" onclick="window.location.href = '/manageOfficers'">Manage Organization</span><span id="addOrgOfficerButt" class="option" style="color: rgb(255,255,255);margin-bottom: 15px;  cursor:pointer">Add Org Officer</span>
                                <span
                                    id="addOrgButt" class="option" style="color: rgb(255,255,255);margin: 0px 0px 15px;margin-bottom: 30px;cursor: pointer;">Add Organization</span>
                            </div>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="btn-group" role="group"><button class="btn btn-primary selected" id="preactsButton" type="button" style="/*background-color: rgb(50,157,156);*/">PREACTS</button><button class="btn btn-primary unselected" id="postactsButton" type="button">POSTACTS</button></div>
                        <div><button class="btn btn-primary" id="selectOrgButt" type="button" style="background-color: rgb(50,157,156);margin-right: 15px;">Select Organization</button><button class="btn btn-primary" type="button" style="margin-bottom: 0px;background-color: #d48664;" onclick="window.location.href = '/logout'">Logout</button></div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">{{org}} : Status &lt;Whitelisted/Blacklisted&gt;</h3>
                    <div class="card shadow visibleBody" id="preactsPreview">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Recent Pre-Activity Submissions</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Activity Name</th>
                                            <th>Activity Status</th>
                                            <th>Officer in Charge</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each pres}}
                                            <tr>
                                                <td>
                                                    {{actName}}
                                                </td>
                                                <td>
                                                    {{status}}
                                                </td>
                                                <td>
                                                    {{subBy}}
                                                </td>
                                                <td>
                                                    {{remarks}}
                                                </td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Activity Name</strong></td>
                                            <td><strong>Activity Status</strong></td>
                                            <td><strong>Officer in Charge</strong></td>
                                            <td><strong>Remarks</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow hiddenBody" id="postactsPreview">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Recent Post-Activity Submissions</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Activity Name</th>
                                            <th>Activity Status</th>
                                            <th>Officer in Charge</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each posts}}
                                            <tr>
                                                <td>
                                                    {{actName}}
                                                </td>
                                                <td>
                                                    {{status}}
                                                </td>
                                                <td>
                                                    {{subBy}}
                                                </td>
                                                <td>
                                                    {{remarks}}
                                                </td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Activity Name</strong></td>
                                            <td><strong>Activity Status</strong></td>
                                            <td><strong>Officer in Charge</strong></td>
                                            <td><strong>Remarks</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addOrgOfficerModal">
        <div class="modal-dialog" role="document">
            <form action="/officer/addofficer" method="POST">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);color: #205072;">
                    <h4 class="modal-title">Add Officer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1">
                            <input class="d-flex flex-grow-1" type="text" placeholder="DLSU Email" name="email">
                        </div>
                    </div>
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1"><select class="d-flex flex-grow-1" name="type"><optgroup label="This is a group"><option value="aps" selected="">APS</option><option value="adm">ADM</option><option value="admin">Admin</option><option value="orgOfficer">Org Officer</option></optgroup></select></div>
                    </div>
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1">
                            <select class="d-flex flex-grow-1" name="org">
                                <optgroup label="This is a group">
                                    {{#each orgs}}
                                        <option value="{{abbrev}}">{{abbrev}}</option>
                                    {{/each}}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1">
                            <input class="d-flex flex-grow-1" type="text" name="position" placeholder="Org Position"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Confirm" style="background-color: #329d9c;">
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="addOrgModal">
        <div class="modal-dialog" role="document">
            <form action="/org/addOrg" method="POST">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);color: #205072;">
                    <h4 class="modal-title">Add Organization</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1"><input class="d-flex flex-grow-1" type="text" placeholder="Organization Name" name="orgName"></div>
                    </div>
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1"><input class="d-flex flex-grow-1" type="text" placeholder="Organization Abbreviation" name="abbrev"></div>
                    </div>
                    <div class="row d-flex flex-grow-1">
                        <div class="col d-flex flex-grow-1"><input class="flex-grow-1" type="text" placeholder="Description of Organization" name="description"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Confirm" style="background-color: #329d9c;">
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="deleteOrgModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);color: #205072;">
                    <h4 class="modal-title">Delete Organization</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this organization?</p>
                </div>
                <div class="modal-footer d-xl-flex justify-content-xl-center"><button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: #329d9c;color: rgb(255,255,255);">Confirm</button><button class="btn btn-primary" type="button" style="background-color: #d48664;">Cancel</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="blacklistOrgModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);color: #205072;">
                    <h4 class="modal-title">Blacklist Organization</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Add &lt;Org name&gt; to blacklist</p><select><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select>
                    <input
                            type="text" placeholder="MM/DD/YYYY">
                    <div class="row">
                        <div class="col">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">I confirm blacklisting this organization</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-xl-flex justify-content-xl-center"><button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: #329d9c;color: rgb(255,255,255);">Confirm</button><button class="btn btn-primary" type="button" style="background-color: #d48664;">Cancel</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="selectOrgModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);color: #205072;">
                    <h4 class="modal-title">Select Organization</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex flex-grow-1">
                            <select class="d-flex flex-grow-1">
                                <optgroup label="Organizations">
                                    {{#each orgs}}
                                        <option value="{{abbrev}}">{{abbrev}}</option>
                                    {{/each}}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-xl-flex justify-content-xl-center"><button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: #329d9c;color: rgb(255,255,255);">Confirm</button><button class="btn btn-primary" type="button" style="background-color: #d48664;">Cancel</button></div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    } );

    </script>

    <script src="/assetsDash/js/jquery.min.js"></script>
    <script src="/assetsDash/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assetsDash/js/sidebarButtons.js"></script>
    <script src="/assetsDash/js/theme.js"></script>
</body>

</html>