{{!-- <html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/encode.css">

    <script>
            function submitForm(){
                var preActs = document.getElementById("preactsForm");
                var postActs = document.getElementById("postactsForm");
                var activity = document.getElementById("activityForm");
                    if (window.getComputedStyle(preActs).display == "none" && window.getComputedStyle(postActs).display == "none") {
                        document.getElementById('submitActivity').click()
                     }
                     else if(window.getComputedStyle(preActs).display == "none" && window.getComputedStyle(activity).display == "none"){
                        document.getElementById('submitPostacts').click()
                     }
                     else if(window.getComputedStyle(postActs).display == "none" && window.getComputedStyle(activity).display == "none"){
                        document.getElementById('submitPreacts').click()
                     }
            }
        </script>  
</head>

<body>
    <div class="mainCont">
        <div class="header">
            <button class="butt" type="button" id="backButt">Back</button>
            <span id="orgName">DLSU ORG</span>
        </div>
        <div class="divider"></div>
        <div class="body">
            <div class="containerEncode">
                <div id="encoding">
                    <div class="pic"></div>
                    <!-- <img class="pic" src="Kitten.jpg"> -->
                    <span id="function">PREACTS ENCODING</span>
                </div>
                <div id="encodingDetails">
                    <div id="uploadDirectly">
                        <span class="title">Upload Directly</span>
                        <br/>
                        <span class=name>Name of File</span>
                        <br/>
                        <button class="butt">Select File</button>
                        <button class="butt">Upload</button>
                    </div>
                    <div id="form">
                        <span class="title">Upload Manually</span><br />
                        <div class="top">
                            <div id="navi">
                                <div class="button">ACTIVITY</div>
                                <div class="button">PREACTS</div>
                                <div class="button">POSTACTS</div>

                                <button class="butt" onclick="submitForm()">Encode</button>
                            </div>
                        </div>
                        <form id="activityForm" style="display: none;">
                            <span class="name">Organization</span>
                            <select class="input">
                                {{#each orgs}}
                                    <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                            <br/>
                            <span class="name">Document Type</span>
                            <input class="input" placeholder="doc">
                            <br/>
                            <span class="name">Date</span>
                            <input class="input" placeholder="MM/dd">
                            <br/>
                            <span class="name">Time</span>
                            <input class="input" placeholder="HH:MM-HH:MM">
                            <br/>
                            <span class="name">Type of Activity</span>
                            <input class="input" placeholder="type">
                            <br/>
                            <span class="name">ENP</span>
                            <input class="input" placeholder="number">
                            <br/>
                            <span class="name">Nature of Activity</span>
                            <input class="input" placeholder="nature">
                            <br/>
                            <span class="name">ENMP</span>
                            <input class="input" placeholder="number">
                            <br/>
                            <span class="name">Venue</span>
                            <input class="input" placeholder="venue">
                            <br/>
                            <input type="checkbox">
                            <span class="smallText">Online activity</span>
                            <br/>
                            <input type="checkbox">
                            <span class="smallText">Activity is in GOSM</span>
                            <br/>
                            <span class="name">Officer in charge</span>
                            <select class="input">
                                <option>Officer1</option>
                            </select>
                            <input id="submitActivity" type="submit" value="submit" style="display: none;">
                        </form>
                        <form id="preactsForm" style="display: none;">
                            <span class="name">Organization</span>
                            <select class="input" name="org">
                                {{#each orgs}}
                                    <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                            <br />
                            <span class="name">Term</span>
                            <select class="input" name="term">
                                <option value="1">Term 1</option>
                                <option value="2">Term 2</option>
                                <option value="3">Term 3</option>
                            </select>
                            <br />
                            <span class="name">Activity Name</span>
                            <select class="input" name="actName">
                                <option>ARW</option>
                            </select>
                            <br />
                            <span class="name">Type of Submission</span>
                            <select class="input" name="subType">
                                <option>Document</option>
                            </select>
                            <br />
                            <span class="name">Submitted by</span>
                            <select class="input" name="subBy">
                                {{#each officers}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <br />
                            <span class="name">Received by</span>
                            <select class="input" name="recBy">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="dateRec">
                            <br />
                            <span class="name">First checked by</span>
                            <select class="input" name="firstCheck">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="firstDate">
                            <br />
                            <span class="name">Second checked by</span>
                            <select class="input" name="secCheck">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="secDate">
                            <br />
                            <span class="name">Filed by</span>
                            <select class="input" name="filedBy">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="fileDate">
                            <br />
                            <span class="name">Remarks</span>
                            <input class="input" id="remarksField" name="remarks">
                            <input id="submitPreacts" type="submit" value="submit" style="display: none;">
                        </form>
                        <form id="postactsForm">
                            <span class="name">Organization</span>
                            <select class="input" name="org">
                                {{#each orgs}}
                                    <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                            <br />
                            <span class="name">Term</span>
                            <select class="input" name="term">
                                <option value="1">Term 1</option>
                                <option value="2">Term 2</option>
                                <option value="3">Term 3</option>
                            </select>
                            <br />
                            <span class="name">Activity Name</span>
                            <select class="input" name="actName">
                                <option>ARW</option>
                            </select>
                            <br />
                            <span class="name">Type of Submission</span>
                            <select class="input" name="subType">
                                <option>Document</option>
                            </select>
                            <br />
                            <span class="name">Submitted by</span>
                            <select class="input" name="subBy">
                                {{#each officers}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <br />
                            <span class="name">Received by</span>
                            <select class="input" name="recBy">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="dateRec">
                            <br />
                            <span class="name">First checked by</span>
                            <select class="input" name="firstCheck">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="firstDate">
                            <br />
                            <span class="name">Second checked by</span>
                            <select class="input" name="secCheck">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="secDate">
                            <br />
                            <span class="name">Filed by</span>
                            <select class="input" name="filedBy">
                                {{#each users}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="fileDate">
                            <br />
                            <span class="name">Remarks</span>
                            <input class="input" id="remarksField" name="remarks">
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> --}}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/encode.css">  
        <script src="/jQuery.js"></script>

        <script>
            let warn = {{error}}
            $(document).ready(function(){
                    if( warn == 1){
                            alert("INVALID DATE! PLEASE INPUT VALID DATE!")
                        }
                })
            
            function submitForm(){
                var preActs = document.getElementById("preactsForm");
                var postActs = document.getElementById("postactsForm");
                var activity = document.getElementById("activityForm");
                    if (window.getComputedStyle(preActs).display == "none" && window.getComputedStyle(postActs).display == "none") {
                        document.getElementById('submitActivity').click()
                     }
                     else if(window.getComputedStyle(preActs).display == "none" && window.getComputedStyle(activity).display == "none"){
                        document.getElementById('submitPostacts').click()
                     }
                     else if(window.getComputedStyle(postActs).display == "none" && window.getComputedStyle(activity).display == "none"){
                        document.getElementById('submitPreacts').click()
                     }
            }

            function activityOn(){
                //alert("AYAW GUMANA")
                var postActs = document.getElementById('postactsForm')
                //document.getElementById("activityForm").style.visibility("visible")
                postActs.style.display = 'none'

                var preActs = document.getElementById('preactsForm')
                preActs.style.display = 'none'

                var activity = document.getElementById('activityForm')
                activity.style.display = 'block'
                //document.getElementById("preactsForm").style.visibility("hidden")
            }

            function preactsOn(){
                //alert("AYAW GUMANA")
                var postActs = document.getElementById('postactsForm')
                //document.getElementById("activityForm").style.visibility("visible")
                postActs.style.display = 'none'

                var preActs = document.getElementById('preactsForm')
                preActs.style.display = 'block'

                var activity = document.getElementById('activityForm')
                activity.style.display = 'none'
                //document.getElementById("preactsForm").style.visibility("hidden")
            }

            function postOn(){
                //alert("AYAW GUMANA")
                var postActs = document.getElementById('postactsForm')
                //document.getElementById("activityForm").style.visibility("visible")
                postActs.style.display = 'block'

                var preActs = document.getElementById('preactsForm')
                preActs.style.display = 'none'

                var activity = document.getElementById('activityForm')
                activity.style.display = 'none'
                //document.getElementById("preactsForm").style.visibility("hidden")
            }
        </script>  
    </head>
    <body>
        <div class="mainCont">
            <div class="header">
                <button class="butt" type="button" onclick="window.location.href = '/dashboard'">Back</button>
                <span id="orgName">DLSU ORG</span>
            </div>
            <div class="divider"></div>
            <div class="body">
                <div class="containerEncode">
                    <div id="encoding">
                        <img class="pic" src="/Kitten.jpg">
                        <span id="function">PREACTS ENCODING</span>
                    </div>
                    <div id="encodingDetails">
                    <div id="uploadDirectly">
                        <span class="title">Upload Directly</span>
                        <br/>
                        <span class=name>Name of File</span>
                        <br/>
                        <button class="butt">Select File</button>
                        <button class="butt">Upload</button>
                    </div>
                    <div id="form">
                        <span class="title">Upload Manually</span><br />
                        <div class="top">
                            <div id="navi">
                                <div id = "actButt" class="button" onclick="activityOn()">ACTIVITY</div>
                                <div id = "preButt" class="button" onclick="preactsOn()">PREACTS</div>
                                <div id = "postButt" class="button" onclick="postOn()">POSTACTS</div>

                                <button class="butt" onclick="submitForm()">Encode</button>
                                {{!-- <button class="butt">Encode</button> --}}
                            </div>
                        </div>
                        <form action="/act/addAct" method="POST" id="activityForm" style="display: none;">
                            <span class="name">Organization</span>
                            <select class="input" name="org">
                                {{#each orgs}}
                                <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                            <br/>
                            <span class="name">Document Type</span>
                            <input class="input" placeholder="doc" name="nameDoc">
                            <br/>
                            <span class="name">Date</span>
                            <input class="input" type="date" placeholder="MM/dd" name="date">
                            <br/>
                            <span class="name">Time</span>
                            <input class="input" placeholder="HH:MM-HH:MM" name="time">
                            <br/>
                            <span class="name">Type of Activity</span>
                            <input class="input" placeholder="type" name="type">
                            <br/>
                            <span class="name">ENP</span>
                            <input class="input" placeholder="number" name="ENPnum">
                            <br/>
                            <span class="name">Nature of Activity</span>
                            <input class="input" placeholder="nature" name="nature">
                            <br/>
                            <span class="name">ENMP</span>
                            <input class="input" placeholder="number" name="ENMPnum">
                            <br/>
                            <span class="name">Venue</span>
                            <input class="input" placeholder="venue" name="venue">
                            <br/>
                            <input type="checkbox" name="online">
                            <span class="smallText">Online activity</span>
                            <br/>
                            <input type="checkbox" name="GOSM">
                            <span class="smallText">Activity is in GOSM</span>
                            <br/>
                            <span class="name">Officer in charge</span>
                            <select class="input" name="oic">
                                <option>Officer1</option>
                            </select>

                            <input id="submitActivity" type="submit" value="submit">
                        </form>
                        <form id="preactsForm" action="/docu/addDocu" method="POST" style="display: none;">
                            <span class="name">Organization</span>
                            <select class="input" name="org">
                                {{#each orgs}}
                                    <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                                <br />
                            <span class="name">Term</span>
                            <select class="input" name="term">
                                <option value="1">Term 1</option>
                                <option value="2">Term 2</option>
                                <option value="3">Term 3</option>
                            </select>
                                <br />
                            <span class="name">Activity Name</span>
                            <select class="input" name="actName">
                                <option>ARW</option>
                            </select>
                                <br />
                            <span class="name">Type of Submission</span>
                            <select class="input" name="subType">
                                <option>Document</option>
                            </select>
                                <br />
                            <span class="name">Submitted by</span>
                            <select class="input" name="subBy">
                                {{#each officers}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Me</option> --}}
                            </select>
                                <br />
                            <span class="name">Received by</span>
                            <select class="input" name="recBy">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="dateRec">
                                <br />
                            <span class="name">First checked by</span>
                            <select class="input" name="firstCheck">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="firstDate">
                                <br />
                            <span class="name">Second checked by</span>
                            <select class="input" name="secCheck">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="secDate">
                                <br />
                            <span class="name">Filed by</span>
                            <select class="input" name="filedBy">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="fileDate">
                                <br />
                            <span class="name">Remarks</span>
                            <input class="input" id="remarksField" name="remarks">

                            <input id="submitPreacts" type="submit" value="submit" style="display: none;">
                        </form>
                        <form id="postactsForm" action="/docu/addDocu" method="POST">
                            {{!-- <div class="top">
                                <div id="navi">
                                    <div class="button">ACTIVITY</div>
                                    <div class="button">PREACTS</div>
                                    <div class="button">POSTACTS</div>

                                    <button class="butt">Encode</button>
                                </div>
                            </div>   --}}
                            <span class="name">Organization</span>
                            <select class="input" name="org">
                                {{#each orgs}}
                                    <option>{{abbrev}}</option>
                                {{/each}}
                            </select>
                            <br />
                            <span class="name">Term</span>
                            <select class="input" name="term">
                                <option value="1">Term 1</option>
                                <option value="2">Term 2</option>
                                <option value="3">Term 3</option>
                            </select>
                            <br />
                            <span class="name">Activity Name</span>
                            <select class="input" name="actName">
                                <option>ARW</option>
                            </select>
                            <br />
                            <span class="name">Type of Submission</span>
                            <select class="input" name="subType">
                                <option>Document</option>
                            </select>
                            <br />
                            <span class="name">Submitted by</span>
                            <select class="input" name="subBy">
                                {{#each officers}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Me</option> --}}
                            </select>
                            <br />
                            <span class="name">Received by</span>
                            <select class="input" name="recBy">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="dateRec">
                            <br />
                            <span class="name">First checked by</span>
                            <select class="input" name="firstCheck">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="firstDate">
                            <br />
                            <span class="name">Second checked by</span>
                            <select class="input" name="secCheck">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="secDate">
                            <br />
                            <span class="name">Filed by</span>
                            <select class="input" name="filedBy">
                                {{#each users}}
                                    <option>{{givenname}} {{lastname}}</option>
                                {{/each}}
                                {{!-- <option>Not me</option> --}}
                            </select>
                            <span class="name">Date</span>
                            <input class="input" placeholder="date" type="date" name="fileDate">
                            <br />
                            <span class="name">Remarks</span>
                            <input class="input" id="remarksField" name="remarks">
                            
                            <input id="submitPostacts" type="submit" value="submit" style="display: none;">

                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 
{{!-- 
<html>
    <body>
        <form action="/docu/addDocu" method="post">

            <span class="input">Organization</span> <br/>
            <input class="field" type="text" placeholder="organization" name="org"> <br/>

            <span class="input">Term</span> <br/>
            <input class="field" type="text" placeholder="term" name="term"> <br/>
            
            <span class="input">Name of Activity</span> <br/>
            <input class="field" type="text" placeholder="Activity Name" name="actName"> <br/>
            
            <span class="input">Submission Type</span> <br/>
            <input class="field" type="text" placeholder="JSON / CSV" name="subType"> <br/>
                        
            <span class="input">Submitted By</span> <br/>
            <input class="field" type="text" placeholder="Submitted by" name="subBy"> <br/>
                        
            <span class="input">Received By</span> <br/>
            <input class="field" type="text" placeholder="Received by" name="recBy"> <br/>
            
            <span class="input">Date Received</span> <br/>
            <input class="field" type="text" placeholder="MM/DD/YY" name="dateRec"> <br/>
                        
            <span class="input">First Checked by</span> <br/>
            <input class="field" type="text" placeholder="Checked by" name="firstCheck"> <br/>    

            <span class="input">First Checked Date</span> <br/>
            <input class="field" type="text" placeholder="MM/DD/YY" name="firstDate"> <br/>    
                    
            <span class="input">Second Checked by</span> <br/>
            <input class="field" type="text" placeholder="Checked by" name="secCheck"> <br/>    

            <span class="input">Second Checked Date</span> <br/>
            <input class="field" type="text" placeholder="MM/DD/YY" name="secDate"> <br/>    
            
            <span class="input">Filed by</span> <br/>
            <input class="field" type="text" placeholder="Filed by" name="filedBy"> <br/>    

            <span class="input">File Date</span> <br/>
            <input class="field" type="text" placeholder="MM/DD/YY" name="fileDate"> <br/>    

            <span class="input">Remarks</span> <br/>
            <input class="field" type="text" placeholder="Remarks" name="remarks"> <br/>    
                                                            
            <div class="buttons">
                <input id="loginButt" type="submit" value="Submit">
            </div>
        </form>    
    </body>
</html>

{{!-- <html>
    <body>
        <form action="/org/addOrg" method="post">
        
            <span class="input">Organization Name</span> <br/>
            <input class="field" type="text" placeholder="Name of Organization" name="orgName"> <br/>

            <span class="input">Abbreviation</span> <br/>
            <input class="field" type="text" placeholder="Abbreviation" name="abbrev"> <br/>
            
            <span class="input">Description</span> <br/>
            <input class="field" type="text" placeholder="Description" name="desc"> <br/>
                          
            <div class="buttons">
                <input id="loginButt" type="submit" value="Submit">
            </div>
        </form>    
    </body>
</html>  --}}