<!DOCTYPE html>
<html>

<head>
    <script src="/jQuery.js"></script>
    <script src="/public/jQuery.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assetsLog/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assetsLog/css/DocumentsView.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <div class="container-fluid"><button class="btn btn-primary" type="button" style="background-color: #329d9c;" onclick="window.location.href = '/dashboard'">Back</button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation"><span style="font-size: 28px;color: #205072;">&lt;All Documents&gt;</span></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="color: #205072;">&lt;{{org}}&gt;</h3>
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label></label>
                                        <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button" style="background-color: rgb(50,157,156);"><i class="fas fa-search"></i></button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Document Type</th>
                                            <th>Type of Activity</th>
                                            <th>Nature of Activity</th>
                                            <th>Venue</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>ENP</th>
                                            <th>ENMP</th>
                                            <th>Online</th>
                                            <th>GOSM</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each docus}}
                                        <tr data-id="{{_id}}">
                                            <td data-id="{{_id}}">{{docuType}}</td>
                                            <td data-id="{{_id}}">{{actType}}</td>
                                            <td data-id="{{_id}}">{{nature}}</td>
                                            <td data-id="{{_id}}">{{venue}}</td>
                                            <td data-id="{{_id}}">{{date}}</td>
                                            <td data-id="{{_id}}">{{startTime}} - {{endTime}}</td>
                                            <td data-id="{{_id}}">{{ENP}}</td>
                                            <td data-id="{{_id}}">{{ENMP}}</td>
                                            <td data-id="{{_id}}">{{isOnline}}</td>
                                            <td data-id="{{_id}}">{{inGOSM}}</td>
                                            <td class="d-xl-flex justify-content-xl-center align-items-xl-center">
                                                <div class="dropdown show"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="editDeleteButt" type="button" style="background-color: rgb(50,157,156);">...</button>
                                                    <div class="dropdown-menu show"
                                                        role="menu"><a class="dropdown-item" role="presentation" id="editButt" href="#">Edit</a>
                                                        <button class="dropdown-item deleteButt" role="presentation" id="deleteButt" data-id="{{_id}}" href="#">Delete</button></div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Document Type</strong></td>
                                            <td><strong>Type of Activity</strong></td>
                                            <td><strong>Nature of Activity</strong></td>
                                            <td><strong>Venue</strong></td>
                                            <td><strong>Date</strong></td>
                                            <td><strong>Time</strong></td>
                                            <td><strong>ENP</strong></td>
                                            <td><strong>ENMP</strong></td>
                                            <td><strong>Online</strong></td>
                                            <td><strong>GOSM</strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 69</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Edit Activity</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <form action="/docu/editDocs" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex flex-grow-1">
                            <select class="flex-grow-1 form-control-user" id="orgSelect" name="org">
                                <optgroup label="Organizations">
                                    {{#each orgs}}
                                        <option>{{abbrev}}</option>
                                    {{/each}}
                                 </optgroup>
                            </select>
                            <input
                                class="flex-grow-1 form-control-user" type="text" id="activityTitle" placeholder="Activity Title" name="actName"></div>
                            <input type="hidden" class="hiddenInput" name="id">
                    </div>
                    <div class="row">
                        <div class="col d-flex flex-grow-1"><input class="flex-grow-1 form-control-user" type="text" id="typeOfActivity" placeholder="Type of Activity" name="actType">
                        <select class="flex-grow-1 form-control-user" id="natureSelect" name="nature">
                            <optgroup label="Nature">
                                <option selected="">Academic</option>
                                <option selected="">Special Interest</option>
                                <option selected="">Departmental Initiative</option>
                                <option selected="">Fundraising</option>
                                <option selected="">Community Development</option>
                                <option selected="">Organizational Development</option>
                                <option selected="">Issue Advocacy</option>
                                <option selected="">Lasallian Formation / Spiritual Growth</option>
                                <option selected="">Outreach</option>
                            </optgroup>
                        </select>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex flex-grow-1"><input class="flex-grow-1" type="text" id="venue" placeholder="Venue" name="venue">
                            <div class="form-check flex-grow-1"><input class="form-check-input" type="checkbox" id="formCheck-1" name="isOnline"><label class="form-check-label" for="formCheck-1">Online</label></div>
                            <div class="form-check flex-grow-1"><input class="form-check-input" type="checkbox" id="formCheck-2" name="inGOSM"><label class="form-check-label" for="formCheck-2">GOSM</label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><input type="submit" value="Save" class="btn btn-primary saveEdit" type="button" style="background-color: #329d9c;"></input></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Delete Document</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex flex-grow-1">
                            <span style="font-size: 28px;">Are you sure you want to delete this document?</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-lg-flex justify-content-lg-center">
                    <button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: rgb(50,157,156);color: rgb(255,255,255);">Confirm</button>
                    <button class="btn btn-primary" type="button" style="background-color: #d48664;">Cancel</button></div>
            </div>
        </div>
    </div>
    <script src="/assetsLog/js/jquery.min.js"></script>
    <script src="/assetsLog/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assetsLog/js/buttonInteraction.js"></script>
    <script src="/assetsLog/js/buttonInteractionMO.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assetsLog/js/theme.js"></script>
</body>
<script>
    $(document).ready(function(){
        // $('button.dropdown-item').click(function(){
        //     let id = $(this).attr("data-id")
        //     $("#deleteid").val(id)
        //     $("#deleteform").submit()
        // })

        $("button.deleteButt").click(function(){
            let id = $(this).attr("data-id")
            $.ajax({
                url: "/docu/delete",
                method: "post",
                data: {
                    id:id
                },
                success:function(result){
                    // if(result.ok === 1){
                        alert("Successfully deleted")
                        $("tr[data-id='" + id + "']").remove()
                    // }else{
                    //     alert("Something went wrong")
                    // }
                }
            })
        })
    })
</script>
</html>