<!DOCTYPE html>
<html>

<head>
    <script src="/jQuery.js"></script>
    <script src="/public/jQuery.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pre-Acts</title>
    <link rel="stylesheet" href="/assetsLog/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assetsLog/css/DocumentsView.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <div class="container-fluid"><button class="btn btn-primary" type="button" style="background-color: #329d9c;" onclick="window.location.href = '/dashboardAPS'">Back</button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation"><span style="font-size: 28px;color: #205072;">List of Pre-Acts</span></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="color: #205072;">&lt;{{org}}&gt;<button class="btn btn-primary float-right" id="encodePreButt" type="button" style="background-color: #56c596;margin-right: 15px;" onclick="window.location.href = '/docu/viewEncodeAPS'">Encode PREACTS</button>
                    </h3>
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label></label>
<!--                                        <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--                                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">-->
<!--                                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button" style="background-color: rgb(50,157,156);"><i class="fas fa-search"></i></button></div>-->
<!--                                            </div>-->
<!--                                        </form>-->
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Document Type</th>
                                            <th>Type of Activity</th>
                                            <th>Nature of Activity</th>
                                            <th>Venue</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>ENP</th>
                                            <th>ENMP</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each pres}}
                                        <tr data-id="{{_id}}">
                                            <td data-id="{{_id}}">{{actName}}</td>
                                            <td data-id="{{_id}}">{{docuType}}</td>
                                            <td data-id="{{_id}}">{{actType}}</td>
                                            <td data-id="{{_id}}">{{nature}}</td>
                                            <td data-id="{{_id}}">{{venue}}</td>
                                            <td data-id="{{_id}}">{{date}}</td>
                                            <td data-id="{{_id}}">{{startTime}} - {{endTime}}</td>
                                            <td data-id="{{_id}}">{{ENP}}</td>
                                            <td data-id="{{_id}}">{{ENMP}}</td>
                                            {{!-- <td class="d-xl-flex justify-content-xl-center align-items-xl-center">
                                                <div class="dropdown show"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="editDeleteButt" type="button" style="background-color: rgb(50,157,156);">...</button>
                                                    <div class="dropdown-menu"
                                                        role="menu"><a class="dropdown-item editButt" role="presentation" href="#">Edit</a>
                                                        <button class="dropdown-item deleteButt" role="presentation" id="deleteButt" data-id="{{_id}}" href="#">Delete</button></div>
                                                </div>
                                            </td> --}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    {{!-- <tfoot>
                                        <tr>
                                            <td><strong>Document Name</strong></td>
                                            <td><strong>Document Type</strong></td>
                                            <td><strong>Type of Activity</strong></td>
                                            <td><strong>Nature of Activity</strong></td>
                                            <td><strong>Venue</strong></td>
                                            <td><strong>Date</strong></td>
                                            <td><strong>Time</strong></td>
                                            <td><strong>ENP</strong></td>
                                            <td><strong>ENMP</strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot> --}}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
<!--                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 69</p>-->
                                </div>
<!--                                <div class="col-md-6">-->
<!--                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">-->
<!--                                        <ul class="pagination">-->
<!--                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
<!--                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
<!--                                        </ul>-->
<!--                                    </nav>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="editDocADMModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Edit Activity</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <td>First Checked by</td>
                                    <td>Date Checked</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Second Checked by</td>
                                    <td>Date Checked</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Filed by</td>
                                    <td>Date Filed</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Status</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Remarks</td>
                                </tr>
                                <tr>
                                    <td class="flex-grow-1 flex-fill" colspan="3">
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button" style="background-color: #329d9c;">Save</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="encodeAPSModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Encode PREACTS</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <td colspan="3">What activity will you encode?</td>
                                </tr>
                                <tr>
                                    <td class="flex-grow-1 flex-fill" colspan="3">
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                            <select class="flex-grow-1" id="selectedDoc">
                                                <optgroup label="Pre-Acts">
                                                    {{#each pres}}
                                                        <option data-id="{{_id}}">{{actName}}</option>
                                                        {{!-- <option>{{_id}}</option> --}}
                                                    {{/each}}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary selectEncode" id="confirmPre" data-dismiss="modal" type="button" style="background-color: #329d9c;">Select</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="encodeADMModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Encode POSTACTS</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <td colspan="3">What activity will you encode?</td>
                                </tr>
                                <tr>
                                    <td class="flex-grow-1 flex-fill" colspan="3">
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button" style="background-color: #329d9c;">Save</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="editPostactsOfficerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Edit Activity</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <td colspan="3">Linkages/Tie-ups</td>
                                </tr>
                                <tr>
                                    <td class="flex-grow-1 flex-fill" colspan="3">
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button" style="background-color: #329d9c;">Save</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="editPreactsOfficerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Edit Activity</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr></tr>
                                <tr>
                                    <td>Organization</td>
                                    <td>Term</td>
                                    <td>Activity Name</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Type of Submission</td>
                                    <td>Nature of Activity</td>
                                    <td>Type of Activity</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>Start Time</td>
                                    <td>End Time</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"></div>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"><select class="flex-grow-1"><option value="14">AM</option><option value="14">PM</option></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"><select class="flex-grow-1"><option value="13">AM</option><option value="14">PM</option></select></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ENP</td>
                                    <td>ENMP</td>
                                    <td>Venue</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"></div>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Submitted by</td>
                                    <td>Date Submitted</td>
                                    <td>Linkages/ Tie-ups</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><select class="flex-grow-1"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                    <td>
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">Remarks</td>
                                </tr>
                                <tr>
                                    <td class="flex-grow-1 flex-fill" colspan="3">
                                        <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="text"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button" style="background-color: #329d9c;">Save</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="editDocAPSModal" style="overflow:scroll">
        <div class="modal-dialog" role="document">
            {{!-- <form action="/docu/encodeAPS" method="POST"> --}}
                <div class="modal-content">
                    <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                        <h4 class="modal-title" style="color: #205072;">Edit Activity</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <div class="table-responsive table-borderless">
                            <table class="table table-bordered table-sm">
                                <tbody>
                                    <tr>
                                        <td>Received by</td>
                                        <td>Date Received</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                                <select class="flex-grow-1" id="recBy">
                                                    <optgroup label="Received By">
                                                        {{#each cso}}
                                                            <option>{{givenname}} {{lastname}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="date" id="dateRec"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>First Checked by</td>
                                        <td>Date Checked</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                                <select class="flex-grow-1" id="firstCheck">
                                                    <optgroup label="First Checked By">
                                                        {{#each cso}}
                                                            <option>{{givenname}} {{lastname}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="date" id="firstDate"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Second Checked by</td>
                                        <td>Date Checked</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                                <select class="flex-grow-1" id="secondCheck">
                                                    <optgroup label="Second Checked By">
                                                        {{#each cso}}
                                                            <option>{{givenname}} {{lastname}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="date" id="secondDate"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Filed by</td>
                                        <td>Date Filed</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                                <select class="flex-grow-1" id="filedBy">
                                                    <optgroup label="Filed By">
                                                        {{#each cso}}
                                                            <option>{{givenname}} {{lastname}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" type="date" id="fileDate"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Status</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start">
                                                <select class="flex-grow-1" id="status">
                                                    <optgroup label="Status">
                                                        <option selected="">Approved</option>
                                                        <option>Late Approved</option>
                                                        <option>Pended</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Remarks</td>
                                    </tr>
                                    <tr>
                                        <td class="flex-grow-1 flex-fill" colspan="3">
                                            <div class="d-xl-flex flex-grow-1 flex-fill justify-content-xl-start"><input class="d-xl-flex flex-grow-1 flex-fill" id="remarks" type="text"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary confirmDoc" data-dismiss="modal" type="button" style="background-color: #329d9c;">Save</button></div>
                </div>
            {{!-- </form> --}}
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="deleteDocModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: linear-gradient(47deg, rgba(207,244,210,1) 0%, rgba(86,197,150,1) 100%);">
                    <h4 class="modal-title" style="color: #205072;">Delete Document</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col d-flex flex-grow-1"><span style="font-size: 28px;">Are you sure you want to delete this document?</span></div>
                    </div>
                </div>
                <div class="modal-footer d-lg-flex justify-content-lg-center"><button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: rgb(50,157,156);color: rgb(255,255,255);">Confirm</button><button class="btn btn-primary" type="button" style="background-color: #d48664;">Cancel</button></div>
            </div>
        </div>
    </div>
    <script src="/assetsLog/js/jquery.min.js"></script>
    <script src="/assetsLog/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assetsLog/js/buttonInteraction.js"></script>
    <script src="/assetsLog/js/buttonInteractionMO.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assetsLog/js/theme.js"></script>
</body>

<script>
    $(document).ready(function(){
        $("button.selectEncode").click(function(){
            let encodeDoc = $('#selectedDoc :selected').text()
            let id = $('#selectedDoc').find(':selected').data('id')
            console.log(encodeDoc)
            console.log(id)
            $("button.confirmDoc").click(function(){
                console.log("aguy")
                let recBy = $('#recBy :selected').text() 
                let dateRec = new Date($('#dateRec').val()) 
                let firstCheck = $('#firstCheck :selected').text() 
                let firstDate = new Date($('#firstDate').val()) 
                let secondCheck = $('#secondCheck :selected').text() 
                let secondDate = new Date($('#secondDate').val()) 
                let filedBy = $('#filedBy :selected').text() 
                let fileDate = new Date($('#fileDate').val()) 
                let status = $('#status :selected').text() 
                let remarks = $('#remarks').val() 
                console.log(recBy)
                console.log(dateRec)
                console.log(remarks)
                $.ajax({
                url: "/docu/encodeAPS",
                method: "post",
                data: {
                    id: id,
                    recBy: recBy,
                    dateRec: dateRec,
                    firstCheck: firstCheck,
                    firstDate: firstDate,
                    secondCheck: secondCheck,
                    secondDate: secondDate,
                    filedBy: filedBy,
                    fileDate: fileDate,
                    status: status,
                    remarks: remarks
                },
                success: function(result){
                    alert("Document encoded!")
                    window.location.href  = "/docu/viewPreActs"
                    }
                })
            })
        })
    })
</script>

<script>
    $(document).ready(function(){
        // $('button.dropdown-item').click(function(){
        //     let id = $(this).attr("data-id")
        //     $("#deleteid").val(id)
        //     $("#deleteform").submit()
        // })

        $("button.deleteButt").click(function(){
            let id = $(this).attr("data-id")
            $("button.confirmDelete").click(function(){
                $.ajax({
                url: "/docu/delete",
                method: "post",
                data: {
                    id:id
                },
                success:function(result){
                    // if(result.ok === 1){
                        alert("Successfully deleted")
                        $("tr[data-id='" + id + "']").remove()
                    // }else{
                    //     alert("Something went wrong")
                    // }
                }
            })
            })
        })
    })
</script>
</html>