<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
    <style>
    .mainCont {
    display: flex;
    height: 100;
    width: 100;
    background-color: #8C908C;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Signika';
}

.butt {
    height: 25px;
    width: 100px;
}

#head {
    height: 10%;
    width: 100%;
    top: 0%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #1D3D19;
}

.title {
    font-size: 50px;
    color: #CBCA98;
    font-family: 'Fira Sans';
}

#body {
    background-color: #CBCA98;
    height: 90%;
    width: 100%;
    position: fixed;
    top: 10%;
    display: flex;
    flex-direction: row;
}

#backButt {
    background-color: #B3AE5D;
    color: #1D3D19;
}

#tableContainer {
    background-color: rgb(222, 224, 207);
    height: 90%;
    width: 95%;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#table {
    background-color: rgb(222, 224, 207);
    width: 95%;
    position: relative;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 10;
    overflow: scroll;
}

#buttonsContainer {
    background-color: rgb(222, 224, 207);
    width: 95%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

tr:nth-child(n) {
    background-color: #CBCA98;
    color: #1D3D19;
}

tr:nth-child(2n) {
    background-color: #8CA484;
    color: #1D3D19;
}

th:nth-child(n) {
    background-color: #1D3D19;
    color: #B3AE5D;
}

th:nth-child(2n) {
    background-color: #B3AE5D;
    color: #1D3D19;
}

#editButt {
    background-color: #8CA484;
    color: #CBCA98;
}

#deleteButt {
    background-color: #8C908C;
    color: #CBCA98;
}</style>
</head>

<body>
    <div class="mainCont">
        <div id="head">
            <button class="butt" type="button" onclick="window.location.href = '/dashboard'">Back</button>
            <span class="title">ALL PREACTS</span>
            <span class="title" style="display: none;">ALL POSTACTS</span>
        </div>
        <div id="body">
            <div id="tableContainer">
                <div id="table">
                    <table id="preacts">
                        <tr>
                            <th onclick="sortTable(0, 'preacts')">Organization</th>
                            <th onclick="sortTable(1, 'preacts')">Term</th>
                            <th onclick="sortTable(2, 'preacts')" >Activity Name</th>
                            <th onclick="sortTable(3, 'preacts')" >Type of Submission</th>
                            <th>Submitted by</th>
                            <th>Received by</th>
                            <th onclick="sortTable(6, 'preacts')" >Date</th>
                            <th onclick="sortTable(7, 'preacts')">First Checked by</th>
                            <th onclick="sortTable(8, 'preacts')">Date</th>
                            <th onclick="sortTable(9, 'preacts')">Second Checked by</th>
                            <th onclick="sortTable(10, 'preacts')">Date</th>
                            <th onclick="sortTable(11, 'preacts')">Filed by</th>
                            <th onclick="sortTable(12, 'preacts')">Date</th>
                            <th>Remarks</th>
                        </tr>
                        
                        {{#each docus}}
                        <tr>
                            <td>{{org}}</td>
                            <td>{{term}}</td>
                            <td>{{actName}}</td>
                            <td>{{subType}}</td>
                            <td>{{subBy}}</td>
                            <td>{{recBy}}</td>
                            <td>{{dateRec}}</td>
                            <td>{{firstCheck}}</td>
                            <td>{{firstDate}}</td>
                            <td>{{secCheck}}</td>
                            <td>{{secDate}}</td>
                            <td>{{filedBy}}</td>
                            <td>{{fileDate}}</td>
                            <td>{{remarks}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    <table id="postacts" style="display: none;">
                        <tr>
                            <th>Organization</th>
                            <th>Linkage</th>
                            <th>Term</th>
                            <th>Activity Name</th>
                            <th>Type of Submission</th>
                            <th>Submitted by</th>
                            <th>First Checked by</th>
                            <th>Date</th>
                            <th>Second Checked by</th>
                            <th>Date</th>
                            <th>Logged by</th>
                            <th>Date</th>
                            <th>Remarks</th>
                        </tr>
                        
                        {{#each docus}}
                        <tr>
                            <td>{{org}}</td>
                            <td>{{status}}</td>
                            <td>{{term}}</td>
                            <td>{{actName}}</td>
                            <td>{{subType}}</td>
                            <td>{{subBy}}</td>
                            <td>{{firstCheck}}</td>
                            <td>{{firstDate}}</td>
                            <td>{{secCheck}}</td>
                            <td>{{secDate}}</td>
                            <td>{{filedBy}}</td>
                            <td>{{fileDate}}</td>
                            <td>{{remarks}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div id="buttonsContainer">
                    <form action="/docu/test" method="post">
                     <input id="deleteB" type="submit" value="Delete" style="display: none;">
                    </form>
                    <button id="editButt" class="butt">Edit</button>
                    <button id="deleteButt" class="butt"><a href="/docu/deleteView" style="text-decoration:none">Delete</a></button>
                </div>
            </div>
            <!--
            <div id="requirementsContainer">
                <div id="requirementsTable">
                    <table id="requirements">
                        <tr>
                            <th>Document</th>
                            <th>Date Needed</th>
                            <th>Officer</th>
                        </tr>
                    </table>
                </div>
            </div>
            -->
        </div>
    </div>
</body>
    
    <script>
                function sortTable(n, id) {
                    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                    table = document.getElementById(id);
                    switching = true;
                    dir = "asc";
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;
                            x = rows[i].getElementsByTagName("TD")[n];
                            y = rows[i + 1].getElementsByTagName("TD")[n];
                            if (dir == "asc") {
                                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                    shouldSwitch = true;
                                    break;
                                }
                            } else if (dir == "desc") {
                                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                            switchcount++;
                        } else {
                            if (switchcount == 0 && dir == "asc") {
                                dir = "desc";
                                switching = true;
                            }
                        }
                    }
                }
            </script>

</html>